<p id="notice"><%= notice %></p>


<% if @project.unique %>
  <div class='showcase'>
    <div>
      <%= render "projects/unique/#{@project.name}" %>
    </div>
<% else %>
    <p>
      <strong>Name:</strong>
      <%= @project.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>
  </div>
<% end %>