$nav-color: white;
$bg-color: #FF542E;
$body: white;

@mixin grayscale($precent) {
  filter: grayscale($precent);
  -webkit-filter: grayscale($precent);
  -moz-filter: grayscale($precent);
  filter: grayscale($precent);
  filter: gray;
  -webkit-filter: grayscale($precent);
}