$nav-color: white;
$bg-color: #F76E39;
$body: #676BB7;

@mixin grayscale($precent) {
  filter: grayscale($precent);
  -webkit-filter: grayscale($precent);
  -moz-filter: grayscale($precent);
  filter: grayscale($precent);
  filter: gray;
  -webkit-filter: grayscale($precent);
}