@import 'mixin';
// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header-nav {
  background-color: $nav-color;
  height: 60px;
  // padding: 20px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.welcome {
  font-size: 2.6rem;
  padding: 4% 4%;
  flex: 1;
}

.nav-btn {
  margin: 0;
  padding: 4% 4%;
  font-size: 2.6rem;
  color: $bg-color;
  text-align: center;
  border: none;

  a {
    text-decoration: none;
  
    &:hover {
      background-color: $nav-color;
    }
    &:visited {
      color: $bg-color;
    }
    &:link {
      color: $bg-color;
    }
  }
}

@media (min-width: 700px) {
  .welcome,
  .nav-btn {
    padding: 2% 4%;
  }
}