@import 'mixin';
// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nav-header {
  background-color: $nav-color;
}

.nav-icon {
  display: flex;
  justify-content: center;
  img {
    margin: 0px 20px 10px 20px;
    width: 30px;
  }

  & a:hover {
    background-color: transparent;
    -ms-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
    -ms-: transform 0.1s ease-in-out;
    -webkit-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
  }
}

.nav-btn {
  margin-top: -10px;
  padding: 4% 4%;
  font-size: 3rem;
  font-weight: bold;
  color: $bg-color;
  text-align: center;
  border: none;

  &:hover {
    -ms-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
    -ms-: transform 0.1s ease-in-out;
    -webkit-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
  }

  a {
    text-decoration: none;
    
    &:hover {
      background-color: $nav-color;
    }
    &:visited {
      color: $bg-color;
    }
    &:link {
      color: $bg-color;
    }
  }
}

@media (max-width: 769px) {
  .nav-btn {
    margin-top: 10px;
  }
  .nav-icon img{
    margin: 20px 20px 10px 20px;
  }
}
