@import 'mixin';
// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.debug {
  border: 1px solid red;
}

.proj-container {
  background-color: $nav-color;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.proj {
  display: none;
  opacity: 0.9;

  img {
    width: 100%; 
  }

}

// media query
$img-min-width: 225px;
@for $i from 2 through 6 {
  @media (min-width: $img-min-width * $i - 1) {
    .proj {
      width: 100% / $i;
      @if $i == 3 {
        @include grayscale(1);       
        &:hover{
          @include grayscale(0);
          opacity: 1;
        }
      }  
    }
  }
}