@import 'mixin';
// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.debug {
  border: 1px solid red;
}

.body {
  background-color: $body;
}

.hover {
  display: none;
}

.proj-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.proj {
  -webkit-box-shadow: 4px 9px 20px 0px rgba(184,184,184,1);
  -moz-box-shadow: 4px 9px 20px 0px rgba(184,184,184,1);
  box-shadow: 4px 9px 20px 0px rgba(184,184,184,1);
  margin-top: 3.4%;
  display: none;
  background-color: transparent;
  position: relative;
  bottom: -5px;

  img {
    width: 100%; 
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  a {
    &:hover {
      background-color: transparent;
    }
  }
}

// media query
$img-min-width: 225px;
$j: 1%;
$k: 3.4%;
$l: 0.5%;
@for $i from 2 through 5 {
  @media (min-width: $img-min-width * $i - 1) {
    .proj {
      width: 97% / $i;
      margin-top: $k - $j;
      $j: $j + 1%;

      @if $i >= 3 {
        $j: $j - $l;
        $l: $l * 1.5;
        @include grayscale(0.3);       
        &:hover{
          @include grayscale(0);
        }
      }
    }

    @if $i >= 3 {
      .body {
        padding: 15px 0;
      }
    }
  }
}